

.popular-author{
    font-family: "PlayFair Display",serif;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: #283618;
    margin-top: 0;
}

.slide-container {
    font-family: "Poppins", serif;
    max-width: 100vw;
    width: 100%;
    padding: 40px 0;
}

.slide-content { 
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.author-link{
    text-decoration: none;
}

.card {
    /* width: 320px; */
    border-radius: 25px;
    background-color: #ccd5ae;
}

.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 14px;
}


.image-content { 
    position: relative;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #606c38;
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #606c38;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #ccd5ae;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #606c38;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.swiper-navBtn {
    color: #606c38 !important;
    transition: all .3s ease;
}

.swiper-navBtn:hover { color: #606c38 !important; }

.swiper-navBtn::before, .swiper-navBtn::after { font-size: 40px !important; color: #606c38; }

.swiper-button-next { right: 0 !important; color: #606c38 !important; }
.swiper-button-prev { left: 0 !important; color: #606c38 !important; }

.swiper-pagination-bullet { background-color: #606c38 !important; opacity: 1 !important; }
.swiper-pagination-bullet-active { background-color: #606c38 !important; }

@media screen and (max-width: 768px) {
    .slide-content { margin: 0 10px; }
    .swiper-navBtn { display: none !important; }
}