.kidspage{
  font-family: "Patrick Hand SC", serif;
}

.kidsHeader{
  font-family: "Chewy", serif;
  font-size: 52px;
  margin: 10px 0 15px 0;
  text-align: center;
  color: #c9433e;
}

.kidsBooks{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding: 10px;
  margin: 0 10px;
}

.kidsbookContainer{
  border: 1px solid rgb(137, 137, 137);
  margin: 15px 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.bookContainer:hover {
  transform: scale(1.05);
}

.top p{
  margin-left: 10px;
}

.kids-img-container{
  width: 250px;
  height: 300px;
  text-align: center;
}

.kids-bookname{
  font-size: 25px;
  line-height: 20px;
  height: 40px;
  width: 240px;
  margin: 10px 0 5px 0;
}

.kids-author{
  font-size: 20px;
  margin: 10px 0 5px 0;
  color: rgba(0, 0, 0, 0.792);
}

.kids-price{
  font-size: 22px;
  margin: 1px 0 0 10px;
  font-weight: bold;
  color: #d9534f;
}

.kids-delivery{
  font-size: 20px;
  margin: 1px 0 15px 10px;
  color: #3f3f3f;
}