.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  padding: 10px;
}

.logo{
  margin-left: 50px;
  margin-right: 250px;
}

.navbar-icons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  margin-left: 100px;
}

.navbar-icons img{
  padding: 0 25px;
}